<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>och06</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Greet</display-name>
    <servlet-name>Greet</servlet-name>
    <servlet-class>och06.Greet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greet</servlet-name>
    <url-pattern>/Greet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fibonacci</display-name>
    <servlet-name>Fibonacci</servlet-name>
    <servlet-class>och06.Fibonacci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonacci</servlet-name>
    <url-pattern>/Fibonacci</url-pattern>
  </servlet-mapping>
</web-app>